header nav ul li {
    display: inline-block;
    border: 2px solid black;
    margin-top: 30px;

}


nav ul {
    list-style: none;
    text-align: center;
    font-size: 35px;
    
 }
 
 nav ul li {
    display: inline-block;
 }

 article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     
 }